/.vscode
/.arceos
/.arceos1
/.arceos1-1
/.cargo
.DS_Store
*.elf
*.bin
apps/*/build/
**/target/
**/Cargo.lock
!/vendor/**/Cargo.lock
/.axconfig.*
/sdcard-la.img
/sdcard-rv.img
/sdcard-x86_64.img
/sdcard-aarch64.img
/riscv64-linux-musl-cross
/x86_64-linux-musl-cross
/aarch64-linux-musl-cross
/gcc-13.2.0-loongarch64-linux-gnu
/musl-loongarch64-1.2.2
/apps/tests