/.vscode
/.arceos
/.cargo
.DS_Store
*.elf
*.bin
apps/*/build/
**/target/
**/Cargo.lock
!/vendor/**/Cargo.lock
/.axconfig.*
/sdcard-la.img
/sdcard-rv.img
/riscv64-linux-musl-cross
/gcc-13.2.0-loongarch64-linux-gnu
/musl-loongarch64-1.2.2